@page "/patientList"
@using Healthware.Shared
@using System.Net.Http.Headers
@using Healthware.Client.Extensions

@inject NavigationManager NavigationManager
@inject HttpClient Http

<h2>Patient Details</h2>
<p>
    <a href="/addPatient">Create New Patient</a>
</p>
@if (patientList == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Speciality</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var emp in patientList)
        {
            <tr>
                <td>@emp.PatientName</td>
                <td>@emp.Speciality</td>
                <td>@emp.Location</td>
                <td>
                    <a href='editPatient/@emp.PatientId'>Edit</a>
                    <a href='deletePatient/@emp.PatientId'>Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    Patient[] patientList;
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        patientList = await Http.GetJsonAsync<Patient[]>("/api/Patient", new AuthenticationHeaderValue("Bearer", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJuYXJlc2gua0B6dWNpc3lzdGVtcy5jb20iLCJlbWFpbCI6Im5hcmVzaC5rQHp1Y2lzeXN0ZW1zLmNvbSIsImp0aSI6IjAyNTE3ZDY2LTkxZmYtNDJlZS04NTcyLTA5YWRkOWEzYzg3NyIsImV4cCI6MTYyMDExMTU5NSwiaXNzIjoibG9jYWxob3N0IiwiYXVkIjoibG9jYWxob3N0In0.RnUrbu8j-UFojNo3ySAM8_VCx9x5fVW62Is_hXTAs80"));
    }
}