@page "/patientList"
@using Healthware.Shared
@using System.Net.Http.Headers
@using Blazored.LocalStorage
@using Healthware.Client.Extensions

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h2>Patient Details</h2>
<p>
    <a href="/addPatient">Create New Patient</a>
</p>
@if (patientList == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Speciality</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var emp in patientList)
        {
            <tr>
                <td>@emp.PatientName</td>
                <td>@emp.Speciality</td>
                <td>@emp.Location</td>
                <td>
                    <a href='editPatient/@emp.PatientId'>Edit</a>
                    <a href='deletePatient/@emp.PatientId'>Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    Patient[] patientList;
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        

        if (true)
        {
            var jwtToken = await LocalStorageService.GetItemAsStringAsync("JWT Token");
            patientList = await Http.GetJsonAsync<Patient[]>("/api/Patient", new AuthenticationHeaderValue("Bearer", jwtToken));
        }
        else
        {
            NavigationManager.NavigateTo("Login");
        }


    }
}